<template>
  <div class="webGL" id="webGL"></div>
</template>

<script>
import { onMounted, onBeforeUnmount } from "vue";

import useScene from "@/webGL/composables/useScene";
import useLights from "@/webGL/composables/useLights";
import useSea from "@/webGL/composables/useSea";
import useAirplane from "@/webGL/composables/useAirplane";
import useEnemies from "@/webGL/composables/useEnemies";

export default {
  setup() {
    const { createScene, clearScene, loop } = useScene();
    const { createLights } = useLights();
    const { createSea } = useSea();
    const { createAirplane } = useAirplane();
    const { createBomb } = useEnemies();

    onBeforeUnmount(() => {
      clearScene();
    });

    onMounted(() => {
      createScene();
      createLights();
      createSea();
      createAirplane();
      createBomb();

      loop();
    });
  },
};
</script>

<style lang="scss">
.webGL {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}
</style>
